* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: "rgb(255, 112, 4)";
  --color-text: "#545454";
  --bg-primary: "rgb(47, 51, 58)";
  --color-white: "white";
  --tr-main: "all 0.3s ease";
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.2s ease;
}
a:hover {
  color: rgb(255, 112, 4);
}
li {
  list-style: none;
}
p {
  color: rgb(71, 71, 71);
}
.m-auto {
  margin: 0 auto;
}
.container {
  width: 100%;
  padding-right: calc(15px);
  padding-left: calc(15px);
  margin-right: auto;
  margin-left: auto;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-11 {
  flex: 0 0 91.66%;
  max-width: 91.66%;
}
.col-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.col-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-5 {
  flex: 0 0 41.66%;
  max-width: 41.66%;
}
.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-lg-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-lg-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
