.star-rating-range {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.btn-star-range {
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-star span {
  display: flex;
  align-items: center;
}
.btn-star span svg {
  font-size: 14px;
}
.on-star {
  color: rgb(255, 112, 4);
}
.off-star {
  color: gray;
}
